<a href="https://colab.research.google.com/github/mesrp88/ml_work/blob/creating_new/credit_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Full data Science work from data cleaning to feature extraction to machine learning

In [2]:
loan_df= pd.read_csv('/content/loans_2007.csv')
loan_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  member_id  loan_amnt  ...  delinq_amnt  pub_rec_bankruptcies tax_liens
0  1077501  1296599.0     5000.0  ...          0.0                   0.0       0.0
1  1077430  1314167.0     2500.0  ...          0.0                   0.0       0.0
2  1077175  1313524.0     2400.0  ...          0.0                   0.0       0.0
3  1076863  1277178.0    10000.0  ...          0.0                   0.0       0.0
4  1075358  1311748.0     3000.0  ...          0.0                   0.0       0.0

[5 rows x 52 columns]

In [3]:
loan_df.shape

(42538, 52)

In [4]:
print('Number of rows:',loan_df.shape[0])
print('Number of rows:',loan_df.shape[1])

Number of rows: 42538
Number of rows: 52

In [5]:
loan_df.drop_duplicates()
print('Number of rows:',loan_df.shape[0])
print('Number of rows:',loan_df.shape[1])

Number of rows: 42538
Number of rows: 52

here we can see there is no any duplicates rows

In [6]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42538 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  inq_last_6mths              42506 non-null  float64
 26  open_acc                    42506 non-null  float64
 27  pub_rec                     42506 non-null  float64
 28  revol_bal                   42535 non-null  float64
 29  revol_util                  42445 non-null  object
 30  total_acc                   42506 non-null  float64
 31  initial_list_status         42535 non-null  object
 32  out_prncp                   42535 non-null  float64
 33  out_prncp_inv               42535 non-null  float64
 34  total_pymnt                 42535 non-null  float64
 35  total_pymnt_inv             42535 non-null  float64
 36  total_rec_prncp             42535 non-null  float64
 37  total_rec_int               42535 non-null  float64
 38  total_rec_late_fee          42535 non-null  float64
 39  recoveries                  42535 non-null  float64
 40  collection_recovery_fee     42535 non-null  float64
 41  last_pymnt_d                42452 non-null  object
 42  last_pymnt_amnt             42535 non-null  float64
 43  last_credit_pull_d          42531 non-null  object
 44  collections_12_mths_ex_med  42390 non-null  float64
 45  policy_code                 42535 non-null  float64
 46  application_type            42535 non-null  object
 47  acc_now_delinq              42506 non-null  float64
 48  chargeoff_within_12_mths    42390 non-null  float64
 49  delinq_amnt                 42506 non-null  float64
 50  pub_rec_bankruptcies        41170 non-null  float64
 51  tax_liens                   42430 non-null  float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB

In [7]:
'desc' in loan_df.columns

False

In [8]:
round((loan_df.isnull().sum()/loan_df.shape[0])*100, 2)

id                            0.00
member_id                     0.01
loan_amnt                     0.01
funded_amnt                   0.01
funded_amnt_inv               0.01
term                          0.01
int_rate                      0.01
installment                   0.01
grade                         0.01
sub_grade                     0.01
emp_title                     6.18
emp_length                    2.62
home_ownership                0.01
annual_inc                    0.02
verification_status           0.01
issue_d                       0.01
loan_status                   0.01
pymnt_plan                    0.01
purpose                       0.01
title                         0.04
zip_code                      0.01
addr_state                    0.01
dti                           0.01
delinq_2yrs                   0.08
earliest_cr_line              0.08
inq_last_6mths                0.08
open_acc                      0.08
pub_rec                       0.08
revol_bal                     0.01
revol_util                    0.22
total_acc                     0.08
initial_list_status           0.01
out_prncp                     0.01
out_prncp_inv                 0.01
total_pymnt                   0.01
total_pymnt_inv               0.01
total_rec_prncp               0.01
total_rec_int                 0.01
total_rec_late_fee            0.01
recoveries                    0.01
collection_recovery_fee       0.01
last_pymnt_d                  0.20
last_pymnt_amnt               0.01
last_credit_pull_d            0.02
collections_12_mths_ex_med    0.35
policy_code                   0.01
application_type              0.01
acc_now_delinq                0.08
chargeoff_within_12_mths      0.35
delinq_amnt                   0.08
pub_rec_bankruptcies          3.22
tax_liens                     0.25
dtype: float64

there is not huge missing value

In [9]:
loan_df = loan_df.drop(["id", "member_id", "funded_amnt", 
                              "funded_amnt_inv","grade", "sub_grade", "emp_title", "issue_d"], axis=1)
loan_df= loan_df.drop(['zip_code', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 
                         'total_pymnt_inv', 'total_rec_prncp'], axis=1)
loan_df_after= loan_df.drop(['total_rec_int', 'total_rec_late_fee', 'recoveries', 
                             'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt'], axis=1)
print(loan_df_after.iloc[0])

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Jun-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object

In [10]:
print('Number of columns:',loan_df_after.shape[1])

Number of columns: 32

In [11]:
loan_df_after.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   42535 non-null  float64
 1   term                        42535 non-null  object
 2   int_rate                    42535 non-null  object
 3   installment                 42535 non-null  float64
 4   emp_length                  41423 non-null  object
 5   home_ownership              42535 non-null  object
 6   annual_inc                  42531 non-null  float64
 7   verification_status         42535 non-null  object
 8   loan_status                 42535 non-null  object
 9   pymnt_plan                  42535 non-null  object
 10  purpose                     42535 non-null  object
 11  title                       42522 non-null  object
 12  addr_state                  42535 non-null  object
 13  dti                         42535 non-null  float64
 14  delinq_2yrs                 42506 non-null  float64
 15  earliest_cr_line            42506 non-null  object
 16  inq_last_6mths              42506 non-null  float64
 17  open_acc                    42506 non-null  float64
 18  pub_rec                     42506 non-null  float64
 19  revol_bal                   42535 non-null  float64
 20  revol_util                  42445 non-null  object
 21  total_acc                   42506 non-null  float64
 22  initial_list_status         42535 non-null  object
 23  last_credit_pull_d          42531 non-null  object
 24  collections_12_mths_ex_med  42390 non-null  float64
 25  policy_code                 42535 non-null  float64
 26  application_type            42535 non-null  object
 27  acc_now_delinq              42506 non-null  float64
 28  chargeoff_within_12_mths    42390 non-null  float64
 29  delinq_amnt                 42506 non-null  float64
 30  pub_rec_bankruptcies        41170 non-null  float64
 31  tax_liens                   42430 non-null  float64
dtypes: float64(17), object(15)
memory usage: 10.4+ MB

In [12]:
loan_df_after['loan_status'].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

In [13]:
final_df= loan_df_after[(loan_df_after['loan_status']=='Fully Paid') | (loan_df_after['loan_status']=='Charged Off')]

mapping_dict= {
    'loan_status':{'Fully Paid':1,
                   'Charged Off':0}
}
final_df= final_df.replace(mapping_dict)

In [14]:
final_df.head()

   loan_amnt        term int_rate  ...  delinq_amnt pub_rec_bankruptcies tax_liens
0     5000.0   36 months   10.65%  ...          0.0                  0.0       0.0
1     2500.0   60 months   15.27%  ...          0.0                  0.0       0.0
2     2400.0   36 months   15.96%  ...          0.0                  0.0       0.0
3    10000.0   36 months   13.49%  ...          0.0                  0.0       0.0
5     5000.0   36 months    7.90%  ...          0.0                  0.0       0.0

[5 rows x 32 columns]

In [15]:
final_df['loan_status'].value_counts()

1    33136
0     5634
Name: loan_status, dtype: int64

In [16]:
final_df.nunique(dropna= True)

loan_amnt                       870
term                              2
int_rate                        371
installment                   15091
emp_length                       11
home_ownership                    5
annual_inc                     5234
verification_status               3
loan_status                       2
pymnt_plan                        1
purpose                          14
title                         19365
addr_state                       50
dti                            2856
delinq_2yrs                      11
earliest_cr_line                524
inq_last_6mths                    9
open_acc                         40
pub_rec                           5
revol_bal                     21348
revol_util                     1088
total_acc                        82
initial_list_status               1
last_credit_pull_d              107
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
pub_rec_bankruptcies              3
tax_liens                         1
dtype: int64

There are many column which contains only one unique value so we can remove that because that doesnt play any role in predication. see example like

In [17]:
final_df['tax_liens'].head()

0    0.0
1    0.0
2    0.0
3    0.0
5    0.0
Name: tax_liens, dtype: float64

In [18]:
drop_columns=[]
for column, value in final_df.nunique(dropna=True).items():
    if value==1:
        drop_columns.append(column)
final_df= final_df.drop(drop_columns, axis=1)
print(drop_columns)
print(len(drop_columns))

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']
9

we are able to remove 9 columns which contain sigle kind of  value

In [19]:
final_df.shape

(38770, 23)

In [20]:
final_df.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

emp_length play important role in prediction so we wont remove that column though it has high missing value.

In [21]:
final_df['pub_rec_bankruptcies'].value_counts(dropna= False, normalize=True)

0.0    0.939438
1.0    0.042456
NaN    0.017978
2.0    0.000129
Name: pub_rec_bankruptcies, dtype: float64

here 94% of data point are same type so this doesnt play any role in prediction so we will remove this column and other colummns have less missing value so we will remove that rows containing nan value

In [22]:
final_df= final_df.drop('pub_rec_bankruptcies', axis=1)

In [23]:
final_df= final_df.dropna()

In [24]:
final_df.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

we can see there are 11 object columns which contains text so we have to convert that columns into numerical by one hot or label encoding

In [25]:
text_df= final_df.select_dtypes(include=['object'])
text_df.head()

         term int_rate  ... revol_util last_credit_pull_d
0   36 months   10.65%  ...      83.7%           Jun-2016
1   60 months   15.27%  ...       9.4%           Sep-2013
2   36 months   15.96%  ...      98.5%           Jun-2016
3   36 months   13.49%  ...        21%           Apr-2016
5   36 months    7.90%  ...      28.3%           Jan-2016

[5 rows x 11 columns]

In [26]:
text_df.iloc[0]

term                     36 months
int_rate                    10.65%
emp_length               10+ years
home_ownership                RENT
verification_status       Verified
purpose                credit_card
title                     Computer
addr_state                      AZ
earliest_cr_line          Jan-1985
revol_util                   83.7%
last_credit_pull_d        Jun-2016
Name: 0, dtype: object

In [27]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']
for col in cols:
    print(final_df[col].value_counts())

RENT        18112
MORTGAGE    16686
OWN          2778
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16281
Verified           11856
Source Verified     9538
Name: verification_status, dtype: int64
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64
 36 months    28234
 60 months     9441
Name: term, dtype: int64
CA    6776
NY    3614
FL    2704
TX    2613
NJ    1776
IL    1447
PA    1442
VA    1347
GA    1323
MA    1272
OH    1149
MD    1008
AZ     807
WA     788
CO     748
NC     729
CT     711
MI     678
MO     648
MN     581
NV     466
SC     454
WI     427
OR     422
LA     420
AL     420
KY     311
OK     285
UT     249
KS     249
AR     229
DC     209
RI     194
NM     180
WV     164
HI     162
NH     157
DE     110
MT      77
WY      76
AK      76
SD      60
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [28]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

In [29]:
final_df= final_df.drop(['last_credit_pull_d', 'addr_state', 'title', 'earliest_cr_line'], axis=1)

In [30]:
final_df['int_rate']= final_df['int_rate'].str.replace('%', '').str.strip().astype('float')

In [31]:
final_df['int_rate'].dtypes

dtype('float64')

In [32]:
final_df['int_rate'].value_counts()

10.99    906
11.49    770
7.51     756
13.49    747
7.88     701
        ...
18.72      1
16.33      1
17.34      1
13.84      1
17.54      1
Name: int_rate, Length: 371, dtype: int64

In [33]:
final_df['revol_util']= final_df['revol_util'].str.replace('%', '').str.strip().astype('float')

In [34]:
final_df= final_df.replace(mapping_dict)
final_df.head()

   loan_amnt        term  int_rate  ...  revol_bal  revol_util total_acc
0     5000.0   36 months     10.65  ...    13648.0        83.7       9.0
1     2500.0   60 months     15.27  ...     1687.0         9.4       4.0
2     2400.0   36 months     15.96  ...     2956.0        98.5      10.0
3    10000.0   36 months     13.49  ...     5598.0        21.0      37.0
5     5000.0   36 months      7.90  ...     7963.0        28.3      12.0

[5 rows x 18 columns]

In [35]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37675 entries, 0 to 39785
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            37675 non-null  float64
 1   term                 37675 non-null  object
 2   int_rate             37675 non-null  float64
 3   installment          37675 non-null  float64
 4   emp_length           37675 non-null  int64
 5   home_ownership       37675 non-null  object
 6   annual_inc           37675 non-null  float64
 7   verification_status  37675 non-null  object
 8   loan_status          37675 non-null  int64
 9   purpose              37675 non-null  object
 10  dti                  37675 non-null  float64
 11  delinq_2yrs          37675 non-null  float64
 12  inq_last_6mths       37675 non-null  float64
 13  open_acc             37675 non-null  float64
 14  pub_rec              37675 non-null  float64
 15  revol_bal            37675 non-null  float64
 16  revol_util           37675 non-null  float64
 17  total_acc            37675 non-null  float64
dtypes: float64(12), int64(2), object(4)
memory usage: 5.5+ MB

In [36]:
texts_df= final_df.select_dtypes(include=['object'])
columns= texts_df.columns
columns

Index(['term', 'home_ownership', 'verification_status', 'purpose'], dtype='object')

In [37]:
dummy_df= pd.get_dummies(final_df[columns])
final_df= pd.concat([final_df, dummy_df], axis=1)
final_df= final_df.drop(columns, axis=1)
final_df.head()

   loan_amnt  int_rate  ...  purpose_vacation  purpose_wedding
0     5000.0     10.65  ...                 0                0
1     2500.0     15.27  ...                 0                0
2     2400.0     15.96  ...                 0                0
3    10000.0     13.49  ...                 0                0
5     5000.0      7.90  ...                 0                1

[5 rows x 38 columns]

In [38]:
final_df.shape

(37675, 38)

Now we are going to machine learning work

In [39]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37675 entries, 0 to 39785
Data columns (total 38 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            37675 non-null  float64
 1   int_rate                             37675 non-null  float64
 2   installment                          37675 non-null  float64
 3   emp_length                           37675 non-null  int64
 4   annual_inc                           37675 non-null  float64
 5   loan_status                          37675 non-null  int64
 6   dti                                  37675 non-null  float64
 7   delinq_2yrs                          37675 non-null  float64
 8   inq_last_6mths                       37675 non-null  float64
 9   open_acc                             37675 non-null  float64
 10  pub_rec                              37675 non-null  float64
 11  revol_bal                            37675 non-null  float64
 12  revol_util                           37675 non-null  float64
 13  total_acc                            37675 non-null  float64
 14  term_ 36 months                      37675 non-null  uint8
 15  term_ 60 months                      37675 non-null  uint8
 16  home_ownership_MORTGAGE              37675 non-null  uint8
 17  home_ownership_NONE                  37675 non-null  uint8
 18  home_ownership_OTHER                 37675 non-null  uint8
 19  home_ownership_OWN                   37675 non-null  uint8
 20  home_ownership_RENT                  37675 non-null  uint8
 21  verification_status_Not Verified     37675 non-null  uint8
 22  verification_status_Source Verified  37675 non-null  uint8
 23  verification_status_Verified         37675 non-null  uint8
 24  purpose_car                          37675 non-null  uint8
 25  purpose_credit_card                  37675 non-null  uint8
 26  purpose_debt_consolidation           37675 non-null  uint8
 27  purpose_educational                  37675 non-null  uint8
 28  purpose_home_improvement             37675 non-null  uint8
 29  purpose_house                        37675 non-null  uint8
 30  purpose_major_purchase               37675 non-null  uint8
 31  purpose_medical                      37675 non-null  uint8
 32  purpose_moving                       37675 non-null  uint8
 33  purpose_other                        37675 non-null  uint8
 34  purpose_renewable_energy             37675 non-null  uint8
 35  purpose_small_business               37675 non-null  uint8
 36  purpose_vacation                     37675 non-null  uint8
 37  purpose_wedding                      37675 non-null  uint8
dtypes: float64(12), int64(2), uint8(24)
memory usage: 5.2 MB

In [40]:
round((final_df['loan_status'].value_counts()/final_df.shape[0])*100, 2)  #in percantages

1    85.7
0    14.3
Name: loan_status, dtype: float64

This is inbalance dataset because  in percentage of two class there is huge difference

In [42]:

# Predict that all loans will be paid off on time.
predictions = pd.Series(np.ones(final_df.shape[0]))
predictions.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [43]:
tp= len(predictions[(predictions==1) & (final_df['loan_status']==1)])
tn= len(predictions[(predictions==0) & (final_df['loan_status']==0)])
fp= len(predictions[(predictions==1) & (final_df['loan_status']==0)])
fn= len(predictions[(predictions==0) & (final_df['loan_status']==1)])

fpr = fp/(fp+tn)
tpr= tp/(tp+fn)
print(fpr, tpr)

1.0 1.0

In [48]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
features = final_df.drop('loan_status', axis=1)
target= final_df['loan_status']
lr.fit(features, target)
predictions= lr.predict(features)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(final_df['loan_status'], predictions)

0.8562707365627074

In [56]:
from sklearn.model_selection import cross_val_predict
lr = LogisticRegression(max_iter=1000)
predictions= cross_val_predict(lr, features, target, cv= 3)
predictions= pd.Series(predictions)
predictions.head()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [57]:
tp= len(predictions[(predictions==1) & (final_df['loan_status']==1)])
tn= len(predictions[(predictions==0) & (final_df['loan_status']==0)])
fp= len(predictions[(predictions==1) & (final_df['loan_status']==0)])
fn= len(predictions[(predictions==0) & (final_df['loan_status']==1)])

fpr = fp/(fp+tn)
tpr= tp/(tp+fn)
print(fpr, tpr)

0.9990128331688055 0.9980007865757735

In [67]:
lr= LogisticRegression(class_weight= 'balanced', max_iter=1000)
predictions= cross_val_predict(lr, features,target, cv=3)
predictions= pd.Series(predictions)

tp= len(predictions[(predictions==1) & (final_df['loan_status']==1)])
tn= len(predictions[(predictions==0) & (final_df['loan_status']==0)])
fp= len(predictions[(predictions==1) & (final_df['loan_status']==0)])
fn= len(predictions[(predictions==0) & (final_df['loan_status']==1)])

fpr = fp/(fp+tn)
tpr= tp/(tp+fn)
print(fpr, tpr)

0.5032576505429418 0.5119952805453593

In [68]:
penalty= {0:10,
          1:1}
lr= LogisticRegression(class_weight= penalty, max_iter=1000)
predictions= cross_val_predict(lr, features,target, cv=3)
predictions= pd.Series(predictions)

tp= len(predictions[(predictions==1) & (final_df['loan_status']==1)])
tn= len(predictions[(predictions==0) & (final_df['loan_status']==0)])
fp= len(predictions[(predictions==1) & (final_df['loan_status']==0)])
fn= len(predictions[(predictions==0) & (final_df['loan_status']==1)])

fpr = fp/(fp+tn)
tpr= tp/(tp+fn)
print(fpr, tpr)

0.1504442250740375 0.15525039328788673

here we decreased Fpr to 15% which is better improvement

In [70]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(random_state= 1, class_weight='balanced')
predictions= cross_val_predict(rfc, features,target, cv=3)
predictions= pd.Series(predictions)
tp= len(predictions[(predictions==1) & (final_df['loan_status']==1)])
tn= len(predictions[(predictions==0) & (final_df['loan_status']==0)])
fp= len(predictions[(predictions==1) & (final_df['loan_status']==0)])
fn= len(predictions[(predictions==0) & (final_df['loan_status']==1)])

fpr = fp/(fp+tn)
tpr= tp/(tp+fn)
print(fpr, tpr)

0.998025666337611 0.9960998951232302

this algorithm did not work well